{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="col-lg-12">
{% for cid in cidade %}
<div  class="panel panel-default">		
		<div class="panel-heading">

			<strong>Locais de atendimento na cidade de {{cid}}
			
			</strong>
		</div>		

		{% if locais %}
		<ul class="list-group">
			{% for loc in locais %} 


				<li class="list-group-item"> 
				<a   href="{% url 'local-prof' loc.id %}">
				<div align="center">
					<strong>
					
					
					<font color="#0000FF" face="verdana">
					<h4>{{loc}}</h4>
					</font>
					
					</strong>
					
				</div>
					</a>
					
				 </li>
										
			{% endfor %}
		</ul>
		
		{% else %}
			<font color="000000">
			<p> Nenhum Médico Encontrado</p>
			</font>
		{% endif %}
		
</div>	
<div class="pagination">
    <span class="step-links">
    
        {% if locais.has_previous %}
        	
           <a href="?cidade={{cid.id}}&page={{ locais.previous_page_number }}">Anterior   </a>
            
           
        {% endif %}
        <font color="#000000" face="verdana">
        <span class="current">
          &nbsp;  Página {{ locais.number }} de {{ locais.paginator.num_pages }}. &nbsp;
        </span>
           </font>
        {% if locais.has_next %}
       		
           		<a  href="?cidade={{cid.id}}&page={{ locais.next_page_number }}">    Próxima</a>
        
        {% endif %}
 
    </span>
</div>
		
 {% endfor %}	
</div>
{% endblock %}
