{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

	<img class="img-responsive" src="{% static "img/logo2.jpg" %}" alt="logo.png" >
	</br>
	</br>
	</br>

		<font color="#0F000F" face="verdana" size="3">
			<form class="form-inline" action="{% url 'buscar-profissionais' %}" method="post">
				{% csrf_token %}

				<input  class="form-control" type="text" name="busca" id="profissional"  placeholder="Pesquisar Profissional Pelo Nome" size="40" maxlength="80" />

				<button  class="btn btn-primary" type="submit">Buscar</button>


			</form>
			</br>
			</br>
			</br>
			<h3>Profissionais de saúde ao seu alcance.</h3>
			<p>Agora você pode pesquisar por profissionais de saúde de diversas áreas.
				Pesquise por especialidade, por profissional e por cidade.
					Sua saúde em primeiro lugar!!.</p>
		</font>





	</center>


{% endblock %}
