{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>FindDoctor</title>
		<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap.css"%}">
		<link rel="stylesheet" type="text/css" href="{% static "styles/main.css"%}">

	</head>
	<body>
		<div class="container">
			<div class="header">
				<div>
					<img src="{% static 'img/logo.jpg' %}" alt="logo">

					<ul class="nav nav-pills pull-right">

					</ul>

				</div>

				<div>
					<ul class="nav nav-pills pull-left">

						<li><a href="{% url 'index' %}">Pagina Inicial</a></li>
						<li><a href="/admin">Area Administrativa</a></li>


					</ul>
				</div>


				</br>
				</br>
			</div>


			</br>
			<div class="row content">
				{% block body %}
				{% endblock %}
			</div>

			<div>
				<p align="CENTER">Copyright 2016 FindDoctor - Todos os Direitos Reservados</p>
			</div>
		</div>


	</body>
</html>
